*{
    margin: 0;
    padding: 0;
}
.header{
    min-height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(z.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.navLinks{
    flex: 1;
    text-align: right;
}
.navLinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navLinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial;
}
.navLinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}
.navLinks ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #969494;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #ffffff;
    background: #ffffff;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .navLinks ul li{
        display: block;
    }
    .navLinks{
        position: fixed;
        background: #535353;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .navLinks ul{
        padding: 30px;
    }
}

/*----- Job -----*/

.Job{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#0e0a0a;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.Job-col{
    flex-basis: 31%;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.Job-col:hover{
    box-shadow: 0 0 20px 0px rgba(5, 5, 5, 0.911);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*------ Building ------*/
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Building{
    width:70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.Building-col{
    flex-basis: 32%;
    border-radius: 40px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.Building-col img{
    width: 100%;
    height: 200px;


}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0,7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------ Equipments------*/

.Equipments{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.Equipments-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.Equipments-col img {
    width: 80%;
    border-radius: 40px;
}
.Equipments-col p{
    padding: 0;
}
.Equipments-col h2{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*------ Degree ------*/

.Degree{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.Degree-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #6d83f1;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.Degree-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.Degree-col p{
    padding: 0;
}
.Degree-col h3{
    margin-top: 15px;
    text-align: left;
}
.Degree-col .fa{
    color: #170bc9;
}
@media(max-width: 700px){
    .Degree-col img{
        margin-left: 0px;
        margin-right: 15px;
        border-radius: 50%;
    }
}

/*----- call to action -----*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(x.jpg);
    background-position: center;
     background-size: cover;
     border-radius: 10px;
     text-align: center;
     padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*-------footer------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #000000;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
}
.footer p{
    color: #fff;
}
.icons .fa{
    color: #ffffff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #ffffff;
}

/*------------ about us page --------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(z.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #000000;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
    color: #fff;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-col img{
    width: 80%;
    height: 120px;
    border-radius: 40px;
    display: block;
    border-width: 10px;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px; 
    color: #fff;
}
.red-btn{
    border: 1px solid #ffffff;
    background: transparent;
    color: #7e7e7e;
}
.red-btn:hover{
    color: #fff;
}

/*------------- blog page content ---------*/

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #ffffff;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #1f36b4;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ffffff;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
@media(max-width: 700px){
    .sub-header h1{
        font-size: 24px;
    }
}

/*-------- contact us page --------*/

.location{
    width: 100%;
    margin: auto;
    padding: 100px 0;
    background-color: #000000;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 100%;
    margin: auto;
    padding: 80px 0;
    background-color: #000000;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #ffffff;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
    color: #fff;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 400;
}
.contact-col input, .contact-col  textarea{
    width: 110%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 3px solid #ffffff;
    background: #000000;
}







